@import url('base.css');

#selectoptions {
margin: auto;
}

#entry_form_div {
    text-align: center;
}

.instruction {
    padding: 1rem;
}

h2 {
    text-align: center;
}

#add_member_service_table {
    margin: auto;
}