@import url('base.css');

#container2 {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 50%;
}

h2 {
    background-color: rgb(112, 144, 126);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    border: solid 4px rgba(232, 208, 148, 0.5);
    margin-left: 40px;
}

p {
    margin-left: 40px;
    font-size: 20px;
}

#intro li{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

#peopleimage {
    border-radius: 10px;
    box-shadow: 10px -10px 5px grey;
    width: 60%;
}

#lessons {
    clear: left;
}

