@import url('base.css');

#container2 {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.info_div {
    width: 50%;
}

.club_info {
    width: 50%;
}


#club_info_p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 2rem 2rem 1.5rem;
    padding-left: 1.5rem;
}

#people_image {
    margin: 0.1rem 1.2rem 2rem 0.8rem;
    border-radius: 10px;
    box-shadow: 10px -10px 5px grey;
    width: 80%;

}



aside {
    float: left;
    width: 50%;
}

h2 {
    background-color: rgb(112, 144, 126);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    border: solid 4px rgba(232, 208, 148, 0.5);
    margin-left: 40px;
}

p {
    margin-left: 40px;
    font-size: 20px;
}

#intro li{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

li {
    text-align: left;
}

#lessons {
    clear: left;
}

