@import url('base.css');

#main_container_div {
    padding-bottom: 30px;
    width: 60%;
    margin: auto;
}

.content_div{
    border:2px solid grey;
    border-radius: 10px;
    padding:10px;
    float: left;
    width: 30%;
    margin-left: 5px;
}

#instructions_div {
    margin: auto;

}
.titlebox{
    float:left;
    padding:0 5px;
    margin:-20px 0 0 30px;
    background-color: rgb(232, 208, 148);
    font-size: 20px;
    font-weight: bold;
}

/*.info_p {
    float:left;
    padding:0 5px;
    margin:-20px 0 0 30px;
    background:#fff;
}*/

#user_info_div {
    text-align: center;
    width: 60%;
    margin: auto;
}

#weight_text, #activity_select, #duration_text {
    float: left;
    width: 30%;
    margin: 10px;
    border-radius: 7px;
    padding: 5px;
}

#radio_div {
    clear: left;
    margin: auto;
    padding-top: 30px;
}

#genderf_radio, #genderm_radio {
    clear: left;
}

#title_header {
    clear: left;
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
}

#submit_button {
    clear: left;
    margin-top: 30px;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 7px;
}

#result_p {
    text-align: center;
    padding: 10px;
    float: left;
    border: solid 1px grey;
    border-radius: 10px;
    margin-left: 30px;
    background-color: whitesmoke;
}

#result_div {
    clear: left;
    margin: auto;
    width: 60%;
    padding-top: 50px;
}

#tennis_fit1_image, #tennis_fit2_image {
    width: 30%;
    float: left;
    padding:40px;
}

footer {
    text-align: center;
    margin-top: 230px;
    clear: left;

}