@import url('base.css');

#container {
    width: 80%;
    clear: left;
    margin: auto;
    padding-top: 30px;
}

#left_box,  #right_box{
    float: left;
    width: 50%;
}

h2 {
    background-color: rgb(112, 144, 126);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    border: solid 4px rgba(232, 208, 148, 0.5);
    margin-left: 40px;
}

p {
    margin-left: 40px;
    font-size: 20px;
}

#intro li{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}

#buildingimage {
    border-radius: 10px;
    box-shadow: 10px -10px 5px grey;
    width: 90%;
}

