@import url('base.css');

#container {
    width: 80%;
    clear: left;
    /*margin: auto;*/
    /*padding-top: 30px;*/
    margin: auto;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

#left_box{
    width: 50%;
    padding: 1.2rem .7rem 1.2rem 2.5rem;
}

#right_box{
    width: 50%;
    padding: 1.2rem 4.2rem 3rem .1rem;
}

h2 {
    background-color: rgb(112, 144, 126);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    border: solid 4px rgba(232, 208, 148, 0.5);
    margin-left: 40px;
}

#court_time_h2 {
    width:83%;

}

p {
    margin-left: 40px;
    font-size: 25px;
}

#intro li{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}

#buildingimage {
    border-radius: 10px;
    box-shadow: 10px -10px 5px grey;
    width: 90%;
}

