body {
    padding: 10px 20px;
    margin: 4rem;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: rgb(232, 208, 148);
}

h2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.7rem;
}

#search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40%;
    border: 2px solid black;
    /*background-color: rgb(232, 208, 148);*/
    border-radius: 10px;
    box-shadow: 10px -10px 5px grey;
    padding: 2rem;
}

.instruction_td {
    padding: 1.5rem;
    text-align: center;
}

#members_list_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
}

td, th {
    text-align: left;
    padding: .4rem;
    border: .1rem solid black;
    border-radius: .3rem;
}

.td_hiddlen_border {
    border: .2rem solid rgb(232, 208, 148);
}

.member_list_table {
    border: .1rem solid black;
}

#select_id_td {
    text-align: center;

}

.submit_button {
    border: .2rem solid rgb(232, 208, 148);
    text-align: center;
}

p {
    text-align: center;
}