#search_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instruction_td {
    padding: 1.5rem;
    text-align: center;
}

#members_list_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

th, td {
    text-align: left;
    padding: .4rem;
}