body {
    padding: 10px 20px;
    margin: 4rem;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: rgb(232, 208, 148);
}

#search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40%;
    border: 2px solid black;
    /*background-color: rgb(232, 208, 148);*/
    border-radius: 10px;
    box-shadow: 10px -10px 5px grey;
    padding: 2rem;
}

.instruction_td {
    padding: 1.5rem;
    text-align: center;
}

#members_list_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
}

th, td {
    text-align: left;
    padding: .4rem;
}

.submit_button {
    text-align: center;

}