@import url('base.css');

#add_table {
margin: auto;
}

.mem_info_td {
}

.title_header {
    text-align: center;
}
.feedback_p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.submit_button_div {
    text-align: center;

}

.submit_button {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
}

#search_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instruction_td {
    text-align: center;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    margin-top: 430px;
    clear: left;

}



